<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= camp.title %></title>
    </head>
    <body>
        <h1><%= camp.title %> Details</h1>
        <ul>
            <li><strong>Price:</strong> <em><%= camp.price %></em></li>
            <li>
                <strong>Description:</strong> <em><%= camp.description %></em>
            </li>
            <li><strong>Location:</strong> <em><%= camp.location %></em></li>
        </ul>
        <a href="/campgrounds/<%=camp.id%>/edit">Edit Campground</a>
        <br>
        <br>
        <form id="delete-form" action="/campgrounds/<%=camp.id%>?_method=delete" method="post">
          <a style="text-decoration: underline;" id="delete-link">Delete</a>
        </form>
        <br>
        <a href="/campgrounds">&#60&#60 All Campgrounds</a>

        <script>
          const deleteLink = document.querySelector("#delete-link");
          deleteLink.addEventListener("click", (evt) => {
            const form = document.querySelector("#delete-form");
            form.submit();
          })
        </script>
    </body>
</html>
