<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= camp.title %></title>
    </head>
    <body>
        <h1><%= camp.title %> Details</h1>
        <ul>
            <li><strong>Price:</strong> <em><%= camp.price %></em></li>
            <li>
                <strong>Description:</strong> <em><%= camp.description %></em>
            </li>
            <li><strong>Location:</strong> <em><%= camp.location %></em></li>
        </ul>
    </body>
</html>
